<html>
    <head>
    <link rel="stylesheet" href="{{ absolute_url(asset('css/bootstrap.css')) }}">
   
    </head>
    
    
    <body>
        
        {% for success_message in app.session.flashbag.get('message') %}
            
            <div class="alert alert-success">{{ success_message }}</div>
            
        {% endfor %}
        